html {
  font-family: 'Thasadith', sans-serif;
}
svg {
  padding: 20px 40px;
}
.cont-arc {
  fill: #fff;
}
.continent-name {
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
}
path {
  stroke: 'none';
}
